.footer__box {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px)
    and (max-width: 1199px) {
        margin-left: 165px;
        margin-bottom: 102px;
        padding-top: 5px;
        padding-bottom: 0px;

    }
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        padding-top: 18px;
        padding-bottom: 34px;
    }  
}

.footer__box-title {
    color: $primari-white-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 20px;
    @media screen and (max-width: 1199px) {
    text-align: center;}
      
}

.footer__list {
    display: flex;
    padding-inline-start: 0px;
    margin: 0px;
        
    & .footer__element + .footer__element {
        margin-left: 10px;
    }
    justify-content: center;
}

.footer__box-link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.1);  
    fill: $primari-white-color;
    border-radius: 50%;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);    
    &:hover,
    &:focus {
        background-color: $accent-color;
    }
     
}

.footer__icon-box {
    
    fill: $primari-white-color;
    
    
}