/*mobile*/
.header__nav {
@media screen and (min-width:768px) {
display: flex;
}
}

.header__logo { 
color: $accent-color;
font-family: 'Raleway', sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.03em;


    padding-top: 16px;
    padding-bottom: 16px;
    
@media screen and (min-width:768px) and (max-width: 1199px) {
    padding-top: 26px;
    padding-bottom: 26px;
    }
@media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;
    padding-top: 24px;
    padding-bottom: 25px;
    }
}

.header__text-logo {
color: $primary-text-color;
}

.haeder__button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    z-index: 1;
    fill: #212121;
}

.haeder__button .icon-close {
    display: none;
}

.haeder__button.is-open .icon-close {
    display: block;
    
}

.haeder__button.is-open .icon-menu {
    display: none;
    
}

.haeder__button:hover {
fill: $accent-color;
}

.haeder__menu {
@media screen and (max-width: 767px) {
display: none;
position: absolute;
top: 0;
left: 0;
width: 480px;
min-height: 796px;
background-color: #ffffff;
padding: 48px 40px 48px 40px;

&.is-open {
    display: block;
}
} 
@media screen and (min-width:768px) {
    display: inline-flex;
    align-items: center;
}

@media screen and (min-width:1200px) {
    display: inline-flex;
    align-items: center;
}
}

.haeder__button {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header__list {
    @media screen and (max-width: 767px) {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 302px;
    & .header__site + .header__site {
            margin-top: 32px;
        }
    }
@media screen and (min-width: 768px) {
    display: flex;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 88px;
    padding: 0px;
    @media screen and (min-width: 1200px){
    margin-left: 93px;}
    

    & .header__site-link.current {
        color: $accent-color;
    }

    & .current::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
        left: 0px;
        bottom: 0px;
    }

    & .header__site + .header__site {
        margin-left: 50px;
    }
    }
}

.header__site {
    @media screen and (min-width: 768px) {
        position: relative;
    }
}

.header__site-link {
    @media screen and (max-width: 767px) {
    display: block;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    padding-top: 0px;
    padding-bottom: 0px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;
        fill: $accent-color;
    }
}
@media screen and (min-width: 768px) {
    display: block;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        color: $accent-color;
        fill: $accent-color;
    }
    }

}
