.hero {
max-width: 480px;
max-height: 400px; 
background-size: 480px 400px; 
background-color: #2F303A;
text-align: center;
padding-top: 118px;
padding-bottom: 118px;
margin-left: auto;
margin-right: auto;
background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)), 
    url(../img/Headermobx1.jpg);
background-repeat: no-repeat;
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);



@media screen and (min-width: 768px)
and (max-width: 1199px) {
    max-width: 768px;
    max-height: 400px;
    background-size: 768px 400px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/Headertabx1.jpg);
}

@media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-height: 600px;
    max-width: 1600px;
    background-size: 1600px 600px;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../img/Img.jpg);
}



&:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    }


}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../img/Headermobx2.jpg);

        @media screen and (min-width: 768px)
        and (max-width: 1199px) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../img/Headertabx2.jpg);
        }
        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../img/Imgx2.jpg);
        }
    }
}


.hero__text {   
margin-top: 0px;
margin-bottom: 30px;
color: $primari-white-color;
font-weight: 900;
font-size: 26px;
line-height: 1.61;
@media screen and (min-width: 1200px){
font-size: 44px;
line-height: 1.4
}
    
}

.hero__button {
    
background-color: $accent-color;
color: $primari-white-color;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.2;
cursor: pointer;
padding: 10px 32px;
border-radius: 4px;
text-align: center;
border: none;
min-width: 200px;
height: 50px;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
    background-color: #188CE8;
        
    }
}




